@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;

}

img {
    width: 35%;
    height: 35%;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar {
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.sidebar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.sidebar h2 {
    font-size: 1.5em;
    margin: 10px 0;
}
.sidebar p, .sidebar a {
    color: #ccc;
    margin: 5px 0;
    text-decoration: none;
}
.main-content {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    color: #000000;
}
.main-content h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}
.main-content h2 {
    font-size: 1.2em;
    color: #4a90e2;
    border-bottom: 2px solid #4a90e2;
    padding-bottom: 5px;
    margin-top: 20px;
}
.main-content p {
    color: #666;
}
.main-content ul {
    padding-left: 20px;
}
.main-content ul li {
    margin-bottom: 5px;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;

}

.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: #22D4FD; ;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.presentacion__enlaces__link{
      display: flex;
      justify-content: center;
      gap: 16px;
      border: 2px solid #22D4FD;
      width: 378px;
      text-align: center;
      border-radius: 8px;
      font-size: 24px;
      font-weight: 600;
      padding: 21.5px 0;
      text-decoration: none;
      color: #F6F6F6;
      font-family: 'Montserrat', sans-serif;
}

.presentacion__enlaces__link:hover{
    background-color: #272727;
}


.footer{
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}